body
{
background-image:url("b1.png");
}

head
{
  background-size: auto;
}

hr
{
  color: white;
}
p
{
  color:white;
}

h1
{
  color:white;
  font-family:Perpetua Titling MT;
}
